@model IEnumerable<HotelBooking.Models.AppModels.AdminPanelBookings>

<style>
    body {
        color: white;
    }
    h2, th, td {
        color: white;
    }
    .admin-panel-container{
    margin-bottom: 50%;
    }
</style>
<div class="admin-panel-container"> 
<h2>Всички резервации</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Hotel Name</th>
        <th>Hotel Image</th>
        <th>From</th>
        <th>To</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var b in Model)
    {
        <tr>
            <td>@b.ClientFirstName</td>
            <td>@b.ClientLastName</td>
            <td>@b.HotelModel.HotelName</td>
            <td><img src="@b.HotelModel.HotelImg" alt="Снимка на хотела" height="100" /></td>
            <td>@b.StartAt.ToString("dd.MM.yyyy") г.</td>
            <td>@b.EndAt.ToString("dd.MM.yyyy") г.</td>
            <td>@b.Price $</td>
            <td>
                <form asp-controller="AdminPanel" asp-action="AdminPanelDeleteBooking" method="post">
                    <input type="hidden" name="bookingId" value="@b.Id" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>